In [1]:
import os
import pandas as pd
import numpy as np
import datetime

#Costo del tratamiento en hospitales privados#

In [2]:
csv_files = ["Data\Costo-total-promedio-del-tratamiento-por-paciente-en-hospital-privado_MAR20.csv",
         "Data\Costo-total-promedio-del-tratamiento-por-paciente-en-hospital-privado_ABR20.csv",
         "Data\Costo-total-promedio-del-tratamiento-por-paciente-en-hospital-privado_MAY20.csv",
         "Data\Costo-total-promedio-del-tratamiento-por-paciente-en-hospital-privado_JUN20.csv",
         "Data\Costo-total-promedio-del-tratamiento-por-paciente-en-hospital-privado_JUL20.csv",
         "Data\Costo-total-promedio-del-tratamiento-por-paciente-en-hospital-privado_AGO20.csv",
         "Data\Costo-total-promedio-del-tratamiento-por-paciente-en-hospital-privado_SEP20.csv",
         "Data\Costo-total-promedio-del-tratamiento-por-paciente-en-hospital-privado_OCT20.csv",
         "Data\Costo-total-promedio-del-tratamiento-por-paciente-en-hospital-privado_NOV20.csv",
         "Data\Costo-total-promedio-del-tratamiento-por-paciente-en-hospital-privado_DIC20.csv",
         "Data\Costo-total-promedio-del-tratamiento-por-paciente-en-hospital-privado_ENE21.csv",
         "Data\Costo-total-promedio-del-tratamiento-por-paciente-en-hospital-privado_FEB21.csv",
         "Data\Costo-total-promedio-del-tratamiento-por-paciente-en-hospital-privado_MAR21.csv",
         "Data\Costo-total-promedio-del-tratamiento-por-paciente-en-hospital-privado_ABR21.csv",
         "Data\Costo-total-promedio-del-tratamiento-por-paciente-en-hospital-privado_MAY21.csv",
         "Data\Costo-total-promedio-del-tratamiento-por-paciente-en-hospital-privado_JUN21.csv",
         "Data\Costo-total-promedio-del-tratamiento-por-paciente-en-hospital-privado_JUL21.csv"]

In [3]:
list_data = []
for filename in csv_files:
    data = pd.read_csv(filename)
    list_data.append(data)
data = pd.concat(list_data,ignore_index=True)

In [4]:
data.head()
#datos.columns.tolist()
#data.shape[0]

,State ID,State,Patient ID,Patient Treatment Days,Treatment Cost,Date
0,8,Chihuahua,3946*,2,$45.3k MX,mar-20
1,15,Estado de México,3645*,10,$318k MX,mar-20
2,15,Estado de México,3457*,4,$95.3k MX,mar-20
3,15,Estado de México,3449*,9,$403k MX,mar-20
4,26,Sonora,1156*,7,$114k MX,mar-20

In [31]:
data.dtypes

State ID                   int64
State                     object
Patient ID                object
Patient Treatment Days     int64
Treatment Cost            object
Date                      object
dtype: object

In [32]:
data["State"].value_counts()

Nuevo León                         1076
Ciudad de México                    983
Estado de México                    471
Sonora                              408
Chihuahua                           344
Jalisco                             255
Coahuila de Zaragoza                157
Puebla                              131
Querétaro                           130
Baja California                     126
Yucatán                             116
Veracruz de Ignacio de la Llave      91
Sinaloa                              91
Tabasco                              67
Tamaulipas                           47
Morelos                              32
Quintana Roo                         26
Aguascalientes                       24
Michoacán de Ocampo                  21
Guanajuato                           18
San Luis Potosí                      16
No Informado                          8
Colima                                6
Nayarit                               1
Name: State, dtype: int64

In [41]:
money = data["Treatment Cost"][0]
money

'$45.3k MX'

In [49]:
from re import sub
from decimal import Decimal
#import locale
#locale.setlocale(locale.LC_ALL, 'es_MX')
#locale.atof(money.strip("$"))

value = sub(r'[^\d.]', '0', money)
value

'045.30000'

In [34]:
stats_data = data.describe()
stats_data

          State ID  Patient Treatment Days
count  4645.000000             4645.000000
mean     15.944456               11.981055
std       7.352771               13.783630
min       1.000000                0.000000
25%       9.000000                4.000000
50%      15.000000                8.000000
75%      19.000000               15.000000
max      33.000000              167.000000